<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.dn.effect.ilg.agentappsunrise"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AgentApplication"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".FtpSettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".OrderActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".OrderContentActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".OrderPriceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".OrderHeaderActivity"
            android:label="@string/app_name" />
        <activity android:name=".ClientsActivity" />
        <activity android:name=".ClientDetailActivity" />
        <activity
            android:name=".StartScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderPriceGroupEntryActivity" />
        <activity android:name=".OrderPriceEntityActivity" />
        <activity android:name=".OrderContentEntityActivity" />
        <activity
            android:name=".ManualUpdateActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".UpdateSoftwareActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".UploadOrdersActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".OrdersListActivity" />
        <activity android:name=".OrderAddHint1Activity" />
        <activity android:name=".OrderAddHint2Activity" />
        <activity
            android:name=".OrderPriceActivityGroup"
            android:label="@string/app_name" />
        <activity
            android:name=".OrderContentActivityGroup"
            android:label="@string/app_name" />
        <activity
            android:name=".ReportsListActivity"
            android:label="@string/app_name" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".ChecksListActivity" />
        <activity android:name=".CheckActivity" />
        <activity android:name=".NotificationsActivity" />

        <service android:name=".FtpUpdateService" />

    </application>

</manifest>
